{% extends "account/base.html" %}
{% load static %}
{% block page_title %}Processing Uploads{% endblock %}
{% block header %}  
  <div class="text-center">
    <div class="loader"></div>
  </div>
{% endblock header %}
{% block content %}
<div class="card card-primary shadow">
  <div class="card-header">
    <h4 class="text-center">Processing Uploads</h4>
  </div>
  <div class="card-body">
    <div class="text-center">
      <p id="progress-bar-message" class="lead"></p>
    </div>
    <div class='progress-wrapper' style="padding-top: 10px;">
      <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' style="height:30px; width: 0%; border-radius: 5px">&nbsp;</div>
    </div>
    <p id="celery-result" class="lead"></p>
  </div>
</div>

{% endblock %}
{% block customjs %}  
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% if task_id %}
<script type="text/javascript">
  // Progress Bar (JQuery)
  $(function () {

    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    CeleryProgressBar.initProgressBar(progressUrl, {
      onSuccess: function() {
        Swal.fire({
          icon: "success",
          title: "Upload Complete",
          position: 'top',
          toast: true,
          timer: 1000,
        }).then((result) => {
          window.location.href = '/';
        });
      },
      onError: function(){
        Swal.fire({
          icon: "error",
          title: "Error Encountered",
          position: 'top',
          toast: true,
          timer: 2000,
        }).then((result) => {
          window.location.href = '/';
        });
      }
    });
  });
</script>
{% else %}
<script type="text/javascript">
  // Progress Bar (JQuery)
  $(function () {
    var progressUrl1 = "{% url 'celery_progress:task_status' budget_task_id %}";
    var progressUrl2 = "{% url 'celery_progress:task_status' progress_task_id %}";
    CeleryProgressBar.initProgressBar(progressUrl1);
    CeleryProgressBar.initProgressBar(progressUrl2, {
      onSuccess: function() {
        Swal.fire({
          icon: "success",
          title: "Upload Complete",
          position: 'bottom-start',
          toast: true,
          timer: 1000,
        }).then((result) => {
          window.location.href = '/';
        });
      }
    });
  });
</script>
{% endif %}
{% endblock customjs %}