{% extends "layout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
  <div class="section-header">
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item">Upload Progress Excel Workbook</div>
    </div>
  </div>
{% endblock header %}
{% block content %}
	<div class="section-body">    
		<div class="card card-primary">
      <div class="card-header"><h4>Upload Purchase Data</h4></div>
      <div class="card-body">
        <div class="mb-3">
          We strongly recommend that you first download our <a href="{% static 'Sample_Excel.xlsx' %}" download>Sample Excel File</a> to get some insight into our column definition guide.          
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-arrow-circle-right"> </i>
            Submit
          </button>
        </form>
      </div>
    </div>    
	</div>
{% endblock content %}
{% block customjs %}
<script>
  $('#upload-link,#upload-progress-link').addClass('active');
</script>
{% endblock customjs %}