{% extends "layout/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
  <div class="section-header">
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item">Upload Budget Excel Workbook</div>
    </div>
  </div>
{% endblock header %}
{% block content %}
	<div class="section-body">    
		<div class="card card-primary">
      <div class="card-header"><h4>Upload Budget Data</h4></div>
      <div class="card-body">
        <p>Please ensure that you upload an excel workbook with the first sheet containing the following columns ( Note that the column names are case sensitive).</p>
        <div class="mb-3">
          <table class="table table-sm table-bordered">
            <thead>
              <th>Column Name</th>
              <th>Expected Value</th>
            </thead>
            <tbody>
              <tr>
                <td>Department</td>
                <td>Name of the Department/Cost Center (e.g Department A)</td>
              </tr>
              <tr>
                <td>Amount</td>
                <td>Amount of money allocated to the specific cost center (e.g 0.00)</td>
              </tr>
              <tr>
                <td>Fiscal Year</td>
                <td>Year to which the budget entry refers (e.g 2021)</td>
              </tr>
            </tbody>
          </table>          
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% crispy form %}
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-arrow-circle-right"> </i>
            Submit
          </button>
        </form>
      </div>
    </div>
	</div>
{% endblock content %}
{% block customjs %}
<script>
  $('#upload-link,#upload-budget-link').addClass('active');
</script>
{% endblock customjs %}