{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Email Settings" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="m-4">
    <h4>{% trans "Email Settings" %}</h4>
    <div class="main-footer"></div>
    {% if user.emailaddress_set.all %}
      <p>{% trans 'The following email address(es) are associated with your account:' %}</p>
      <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}
        <fieldset class="blockLabels">
          {% for emailaddress in user.emailaddress_set.all %}
            <div class="ctrlHolder">
              <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

                <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

                {{ emailaddress.email }}
                {% if emailaddress.verified %}
                <span class="badge badge-success verified">{% trans "Verified" %}</span>
                {% else %}
                <span class="badge badge-danger unverified">{% trans "Unverified" %}</span>
                {% endif %}
                {% if emailaddress.primary %}<span class="primary badge badge-primary">{% trans "Primary" %}</span>{% endif %}
              </label>
            </div>
          {% endfor %}

          <div class="buttonHolder">
            <button class="secondaryAction btn btn-success" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
            <button class="secondaryAction btn btn-warning" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
            <button class="primaryAction btn btn-danger" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
          </div>
        </fieldset>
      </form>
      {% else %}
      <p>
        <strong>{% trans 'Warning:'%}</strong> 
        {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
      </p>
    {% endif %}

    <hr class="border-bottom">

    <h5>{% trans "Add New Email Address" %}</h5>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-block btn-primary" name="action_add" type="submit">{% trans "Add Email Address" %}</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
 $('#change_email_link').addClass('active');
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
