{% extends "layout.html" %}


{% block body %}

<div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form login-form-container">
        {% if messages %}
        {% for message in messages %}
        <label>
            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
            <div class="alert {{ message.tags }}">
                <span class="alertClose">X</span>
                <span class="alertText">{{message}}
		            <br class="clear"/></span>
            </div>
        </label>
        {% endfor %}
        {% endif %}

        {% block form %}

        {% endblock form %}

    </div>
    <div class="div-block-2 login-picture-container"></div>

</div>


{% endblock body %}
