{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="card card-primary shadow">
  <div class="card-header border-bottom"><h4>Reset Password</h4></div>
  <div class="card-body">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset border-bottom pb-4">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-block btn-outline-primary" value="{% trans 'Reset My Password' %}" />
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>        
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'js/jquery.placeholder.label.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('label').hide()
    $('input[placeholder], textarea[placeholder]').placeholderLabel();
  });
</script>

{% endblock customjs %}