{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="m-4">		
  		<h4>{% trans "Change Password" %}</h4>
  		<div class="main-footer"></div>
		<p>Enter your current password below as well as your new desired password.</p>
	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        {% csrf_token %}
	        {{ form|crispy }}
	        <button type="submit" name="action" class="btn btn-block btn-primary">{% trans "Change Password" %}</button>
	    </form>
	</div>
</div>
{% endblock %}
