{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">  
  <div>
    <h4>Get Started</h4>
    <hr>
    <p class="">In order to access the Xetova Business Intelligence platform, we need to get some details right. To begin with, let's start with some personal information.</p>
  	<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  	  {% csrf_token %}
  	  {% crispy form %}
  	  {% if redirect_field_value %}
  	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  	  {% endif %}
      <div class="alert text-dark">            
        <div class="alert-body">
          By signing up, you confirm that you agree with our <a href="#" target="_blank" class="bb text-primary">Terms and conditions<sup><i class="fas fa-external-link-alt"></i></sup></a>
        </div>
      </div>
  	  <button class="btn btn-block btn-primary" type="submit">{% trans "Create My Workspace" %} </button>
  	</form>
  </div>
  <div class="mt-5 text-muted text-center">
    Already have an account? Then <a href="{{ login_url }}">Sign In</a>
  </div>
</div>
{% endblock %}
{% block customjs %}
<script>
  $('#eye').css('cursor', 'pointer');
  // $('input[placeholder], textarea[placeholder]').placeholderLabel();
  function showHidePwd() {
    var input = document.getElementById("id_password1");
    var input2 = document.getElementById("id_password2");
    if (input.type === "password") {
        input.type = "text";
        document.getElementById("eye").className = "fas fa-eye";
    } else {
        input.type = "password";
        document.getElementById("eye").className = "fas fa-eye-slash";
    }

    if (input2.type === "password") {
        input2.type = "text";
        document.getElementById("eye2").className = "fas fa-eye";
    } else {
        input2.type = "password";
        document.getElementById("eye2").className = "fas fa-eye-slash";
    }
  }
  // $('').select2();
</script>

{% endblock customjs %}