{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% user_display user as user_display %}
{% block content %}
<div class="container mt-5">
  	<div class="m-4">		
  		<h4>{% trans "Verify Your E-mail Address" %}</h4>
  		<div class="main-footer"></div>
		<p class="lead">{% blocktrans %}We have sent an e-mail to you for verification. <br> 
		Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
	</div>
</div>
{% endblock %}
