{% extends "layout/layout.html" %}
{% load humanize %}
{% block header %}
<div class="section-header">
  <h5 class="text-title">Payments Analysis</h5>
  <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item">Payments</div>
    </div>
</div>  
{% endblock header %}

{% block content %}
	<div class="section-body">
    <!-- Top Summaries Section-->
    <div class="row">
      {% if summaries %}
        {% for key, value in summaries.items %}
          <div class="col-md-3">
            <div class="card card-primary card-statistic-1 shadow">
              <div class="card-body mt-3">
                <h6>{{key}}</h6>
                <p>{{value|title}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Filters Section -->
    {% include "reports/_filters.html" %}

    <!-- Graph Area-->
    <div class="card">
      <div class="card-body">        
        <div class="chart-block">
          <div><strong>Orders Delivered</strong></div>
          <div class="html-embed w-embed w-script">
              <canvas class="chart-canvas" id="performance-chart" width="currentWidth"
                      height="currentHeight"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">          
          <table class="table">
            <thead>
              <tr>
                {% for column in table.columns %}
                <th>{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
	</div>
{% endblock %}
{% block customjs %}
	<script>
		$('#payments-link').addClass('active');
    $('.table').DataTable(
      {
        "pageLength": 50,
        "lengthMenu": [[50, 100, 150, 300, -1], [50, 100, 150, 300, 'All']],
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "{% url 'payments-serverside' %}",
          "type": "POST",
        },
        "columns": [
          {"data": "order_number"},
          {"data": "supplier"},
          {"data": "supplier_category"},
          {"data": "payment_status"},
          {"data": "invoiced_amount"},
          {"data": "paid_amount"},
          {"data": "id_content"},

        ],
            
      }
    );
	</script>

  <script>
    // Chart 1
    let paymentChartData = {{ payment_chart_data | safe }};
    let months = paymentChartData && paymentChartData['months'] ?
        paymentChartData['months'] : [];
    let deliveredPos = paymentChartData && paymentChartData['pos_delivered_monthly'] ?
        paymentChartData['pos_delivered_monthly'] : [];
    let paidPos = paymentChartData && paymentChartData['pos_paid_monthly'] ?
        paymentChartData['pos_paid_monthly'] : [];

    let chart1 = document.getElementById('performance-chart').getContext('2d');
    let uptakeSpendChart = new Chart(chart1, {
        type: 'line',
        data: {
            labels: months,
            datasets: [{
                data: deliveredPos,
                borderColor: "#00BCD4",
                label: "Delivered Orders",
                fill: false
            }]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom',
            },
        }
    });
  </script>

{% endblock customjs %}