{% extends "layout/layout.html" %}
{% block header %}
<div class="section-header">
	<h5 class="text-title">Requisition Tracking</h5>
	<div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item">Requisition Tracking</div>
    </div>
</div>	
{% endblock header %}
{% block content %}
	<!-- Top Summaries Section-->
	<div class="row">
		{% if summaries %}
			{% for key, value in summaries.items %}
				<div class="col-md-3">
					<div class="card card-primary card-statistic-1 shadow">
						<div class="card-body mt-3">
							<h6>{{key}}</h6>
							<p>{{value|title}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>

	<!-- Filters Section -->
	{% include "reports/_filters.html" %}

	<!-- Graph Section -->
	<div class="card">
	  <div class="card-body">        
	    <div class="chart-block">
          <div><strong>Requisitions Raised vs. Released </strong></div>
          <div class="html-embed w-embed w-script">
              <canvas class="chart-canvas" id="prs-release-chart" width="currentWidth"
                      height="currentHeight"></canvas>
          </div>
        </div>
	  </div>
	</div>

	<!-- Table Section -->
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">        
        <table class="table">
          <thead>
            <tr>
              {% for column in table.columns %}
              <th>{{ column }}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
{% block customjs %}
	<script>
		$('#pr-link').addClass('active');
		$('.table').DataTable(
		    {
		        "pageLength": 50,
		        "lengthMenu": [[50, 100, 150, 300, -1], [50, 100, 150, 300, 'All']],
		        "processing": true,
		        "serverSide": true,
		        "ajax": {
		          "url": "{% url 'pr-tracking-serverside' %}",
		          "type": "POST",
		        },
		        "columns": [
		          {"data": "requisition_number"},
		          {"data": "item_description"},
		          {"data": "value"},
		          {"data": "processing_status"},
		          {"data": "release_date"},
		          {"data": "processing_days"},
		          {"data": "id_content"}
		        ],	            
		    }
    	);
	</script>
	<script>
	    // Chart 1
	    let prChartData = {{ pr_chart_data | safe }};
	    let months = prChartData && prChartData['months'] ?
	        prChartData['months'] : [];
	    let prsRaisedMonthly = prChartData && prChartData['prs_raised_monthly'] ?
	        prChartData['prs_raised_monthly'] : [];
	    let prsReleasedMonthly = prChartData && prChartData['prs_released_monthly'] ?
	        prChartData['prs_released_monthly'] : [];

	    let chart1 = document.getElementById('prs-release-chart').getContext('2d');
	    let uptakeSpendChart = new Chart(chart1, {
	        type: 'line',
	        data: {
	            labels: months,
	            datasets: [{
	                data: prsRaisedMonthly,
	                borderColor: "#00BCD4",
	                label: "Requisitions Raised",
	                fill: false
	            }, {
	                data: prsReleasedMonthly,
	                borderColor: "#FF5722",
	                label: "Requisitions Released",
	                fill: false
	            }
	            ]
	        },
	        options: {
	            legend: {
	                display: true,
	                position: 'bottom',
	            },
	        }
	    });
	</script>
{% endblock customjs %}