<html>
	<head>
		<style>
			@font-face {font-family: "Avenir Light"; src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot"); src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff") format("woff"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light") format("svg"); }  
		</style>
	</head>
	<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;line-height:1.5;text-align:left;background-color:#f5f6f8;font-size:14px;font-weight:400;font-family:'Avenir Light';color:#6c757d;" >
	    <div class="text-center my-2" style="box-sizing:border-box;margin-top:.5rem!important;margin-bottom:.5rem!important;text-align:center!important;" >
	        <img src="https://xbi.xetova.com/static/images/webclip.png" alt="Zetova Logo" width="50" style="box-sizing:border-box;vertical-align:middle;border-style:none;" >
	    </div>
	    
	    <div class="m-4" style="box-sizing:border-box;margin-top:1.5rem !important;margin-bottom:1.5rem !important;margin-right:1.5rem !important;margin-left:1.5rem !important;" >    
	        <div class="card card-primary shadow" style="box-sizing:border-box;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-clip:border-box;border-width:1px;border-color:rgba(0,0,0,.125);box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;background-color:#fff;border-radius:3px;border-style:none;position:relative;margin-bottom:30px;" >
	    		<div class="card-header border-bottom" style="box-sizing:border-box;margin-bottom:0;border-bottom-width:1px !important;border-bottom-style:solid !important;background-color:transparent;border-bottom-color:#dee2e6 !important;line-height:30px;-ms-grid-row-align:center;align-self:center;width:100%;min-height:70px;padding-top:15px;padding-bottom:15px;padding-right:25px;padding-left:25px;display:flex;align-items:center;" >
	    			<h4 style="box-sizing:border-box;margin-top:0;font-weight:700;font-size:16px;line-height:28px;padding-right:10px;margin-bottom:0;" >
	    				{% block title %}{% endblock %}
	    			</h4>
	    		</div>

	      		<div class="card-body" style="box-sizing:border-box;-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;background-color:transparent;padding-right:25px;padding-left:25px;padding-top:20px;padding-bottom:20px;" >
	      			{% block content %} {% endblock %}
	     		</div>

	     		<div class="card-footer" style="box-sizing:border-box;margin-bottom:0;border-top-width:1px !important;border-top-style:solid !important;background-color:transparent;border-top-color:#dee2e6 !important;line-height:30px;-ms-grid-row-align:center;align-self:center;width:100%;min-height:70px;padding-top:15px;padding-bottom:15px;padding-right:25px;padding-left:25px;display:flex;align-items:center;" >
	     			<p style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;line-height:28px;font-weight:500;" >Thank you for using <strong style="box-sizing:border-box;font-weight:bolder;" >{% if current_site %}{{current_site.name}}{% else %}{{ site_name }}{% endif %}</strong></p>
	     		</div>
	     	</div>
	    </div>
	</body>
</html>