{% extends "account/email/base_message.txt" %}
{% load account %}
{% load i18n %}

{% block content %}
{% autoescape off %}{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<div style="padding: 10px 20px 10px 280px;margin-top: 40px;color: #98a6ad;border-top: 1px solid #e3eaef;display: inline-block;width: 90%;"></div>
<p>You're receiving this e-mail because user {{ user_display }} has given your e-mail address to register an account on {{ site_domain }}.</p>

<p>To ascertain that this is correct, <a href="{{ activate_url }}">Confirm Your Email Address</a> to proceed.</p>
<div style="padding: 10px 20px 10px 280px;margin-top: 40px;color: #98a6ad;border-top: 1px solid #e3eaef;display: inline-block;width: 90%;"></div>
{% endblocktrans %}
{% endautoescape %}
{% endblock %}
