{% extends "account/email/base_message.txt" %}
{% load account %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block content %}
{% autoescape off %}{% user_display user as user_display %}

<div style="padding: 10px 20px 10px 280px;margin-top: 40px;color: #98a6ad;border-top: 1px solid #e3eaef;display: inline-block;width: 90%;"></div>
<p>Hello {{first_name}},</p><br>
<p>You're receiving this e-mail because your e-mail address has been given to register an account on {{ current_site.domain }}.</p>

<p>To sign in, go to <a href="{{ current_site.domain }}">{{ current_site.domain }}</a>, then use <strong>{{user_email}}</strong> as your email and <strong>{{rand_pass}}</strong> as your password.</p>

<small>If you're having any trouble signing in, please contact us <a href="#">Here</a>.</small>
<div style="padding: 10px 20px 10px 280px;margin-top: 40px;color: #98a6ad;border-top: 1px solid #e3eaef;display: inline-block;width: 90%;"></div>

{% endautoescape %}
{% endblock %}
