{% extends "layout/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block header %}
  <section class="section-header">    
    <h5 class="text-title">Team Management</h5>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item">Team Management</div>
    </div>
  </section>
{% endblock header %}
{% block content %}
    <div>
      <h4 class="section-title">Manage Your Team Here</h4>
      <div class="card shadow">
        <div class="card-header"><h4>Your Current Team Members</h4></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table team-table">
              <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Adress</th>
                <th></th>
              </thead>
              <tbody>
                {% for record in user.company.users.all %}
                  <tr>
                    <td>{{record.first_name}}</td>
                    <td>{{record.last_name}}</td>
                    <td>{{record.email}}</td>
                    <td>
                      <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu">
                        <button type='button' class="update-user dropdown-item btn-sm" data-id="{% url 'update-team-user' record.id %}" data-toggle="modal" data-target="#modal">
                          <i class="fas fa-edit"></i>
                          &nbsp;
                          Update Details
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type='button' class="delete-user dropdown-item btn-sm text-danger" data-id="{% url 'delete-team-user' record.id %}" data-toggle="modal" data-target="#modal">
                          <i class="fas fa-trash"></i>
                          &nbsp;
                          Delete User Account
                        </button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header">
          <h4>Add New Team Members</h4>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}            
              <div class="table-responsive">
                <table class="table">
                  {% for form in formset.forms %}
                      {% if forloop.first %}
                          <thead>
                          <tr>
                              {% for field in form.visible_fields %}
                                  <th>{{ field.label|capfirst }}</th>
                              {% endfor %}
                              <th></th>
                          </tr>
                          </thead>
                      {% endif %}
                      <tr class="border-bottom {% cycle 'row1' 'row2' %} formset_row">
                          {{form.id}}
                          {% for field in form.visible_fields %}
                              <td>
                                  {# Include the hidden fields in the form #}
                                  {% if forloop.first %}
                                      {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                      {% endfor %}
                                  {% endif %}
                                  {{ field.errors.as_ul }}
                                  <div class="input-group">                                    
                                    {{ field}}
                                  </div>
                              </td>
                          {% endfor %}
                          <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                      </tr>
                  {% endfor %}
                </table>
                <div class="float-right">                  
                  <button type="submit" class="btn btn-dark btn-lg">
                    <i class="fas fa-check-circle"> </i>
                    Submit
                  </button>
                </div>
              </div>
           	{{ formset.management_form }}
          </form>                 
        </div>
      </div>
    </div>
{% endblock content %}
{% block customjs %}
<script src="{% static 'js/formset.js' %}"></script>
<script>
  $(document).ready(function(){
    // $('#declaration-link').addClass('active');
    $('.team-table').dataTable()
    $('.formset_row').formset({
      prefix: '{{form.prefix}}',
      addText: '<button class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> &nbsp; Add Other</button>',
      deleteText: '<button class="btn btn-danger">&times;</button>',
    });
    // update book buttons
      $(".update-user,.delete-user").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });
  });
</script>  
{% endblock customjs %}