{% extends "layout/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block header %}
  <section class="section-header">    
    <h5 class="text-title">User Profile</h5>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item">Profile</div>
    </div>
  </section>
{% endblock header %}
{% block content %}
<div class="row mt-sm-4">
    <div class="col-12 col-md-12 col-lg-5">
        <div class="card profile-widget shadow">
          <div class="profile-widget-header">                     
            <img alt="image" src="{{user.company.company_logo.url}}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Members</div>
                <div class="profile-widget-item-value">{{user.company.users.all.count}}</div>
              </div>
            </div>
          </div>
          <div class="profile-widget-description">
            <div class="profile-widget-name">{{user.company.name}}</div>
            <p>Physical Address: {{user.company.physical_address}}</p>
            <p>Email Address: {{user.company.email_address}}</p>
          </div>
          <div class="card-footer text-center">
            <div class="font-weight-bold mb-2"><a href="{{user.company.company_website}}" class="bb">Company Website</a></div>
          </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-7">
        <div class="card shadow">
          <form method="POST">
            <div class="card-header">
              <h4>Edit Details</h4>
            </div>
            <div class="card-body">
                {% crispy form %}
                <a href="{% url 'account_change_password' %}" class="bb"> Change Password</a>
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">
              	<i class="fas fa-check-circle"> </i>
              	Save Changes
              </button>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}