@font-face {
  font-family: Avenir Book;
  src: url("/static/fonts/AvenirLTStd-Book.otf") format("opentype"); }

/* AUTH PAGE LAYOUT */
.auth-form .input-group-text,
.auth-form select.form-control:not([size]):not([multiple]),
.auth-form .form-control:not(.form-control-sm):not(.form-control-lg) {
  font-size: 14px;
  padding: 10px 15px;
  height: 42px; }

.login-form .input-group > .custom-select:not(:first-child), .login-form .input-group > .form-control:not(:first-child) {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem; }

label {
  z-index: 20; }

/* END OF AUTH PAGE LAYOUT */
/* IMAGE BASED LAYOUT */
.image-base-layout {
  display: flex;
  height: 100vh; }

.bg-image {
  /* The image used */
  background-image: url("/static/images/signup.png");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  flex: 1;
  height: 100%; }

.content {
  flex: 1;
  height: 100%;
  overflow: auto;
  background: #ffffff !important; }

/* END OF IMAGE BASED LAYOUT */
/* LINKS CUSTOMIZATION */
.list-inline-item.active {
  color: #00bcd4;
  font-weight: 600;
  border-bottom: 2px solid #00bcd4;
  padding-bottom: 5px; }

/* END OF LINKS CUSTOMIZATION */
/* SWEET ALERT CUSTOMIZATION */
.swal2-styled.swal2-confirm {
  background-color: #ffffff !important;
  color: #000 !important; }

/* END OF SWEET ALERT */
/* SPINNER ICON */
.loader {
  color: #00bcd4;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* END OF SPINNER */
/* PHONE INPUT */
.iti__flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags.png"); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags@2x.png"); } }
.iti, .iti .phone_input {
  width: 100%; }

.iti .phone_input.form-control:not(.form-control-sm):not(.form-control-lg) {
  padding: 10px 55px; }

/* END OF PHONE INPUT */
/* SWAL2 */
.swal2-popup.swal2-toast .swal2-title {
  font-size: 1em !important; }

.swal2-title {
  font-weight: 500 !important; }

/* END OF SWAL2 */
/* INTRO JS */
.introjs-tooltipReferenceLayer * {
  font-family: 'Avenir Book' !important; }


/*# sourceMappingURL=custom.css.map */
