{% extends "layout/pdf_layout.html" %}

{% block content %}
	<!-- Top Summaries Section-->
	<div class="row">
		{% if summaries %}
			{% for key, value in summaries.items %}
				<div class="col-md-3">
					<div class="card card-primary card-statistic-1 shadow">
						<div class="card-body mt-3">
							<h6>{{key}}</h6>
							<p>{{value|title}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>


	<!-- Graph Section -->
	<div class="card">
	  <div class="card-body">        
	    <div class="chart-block">
	      <div><strong>Budget Uptake vs Actual Spend FY {{financial_year}} </strong></div>
	      <div class="html-embed w-embed w-script">
	          <canvas class="chart-canvas" id="uptake-spend-chart" width="currentWidth"
	                  height="currentHeight"></canvas>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Table Section -->
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">        
        <table class="table">
          <thead>
            <tr>
              {% for column in table.columns %}
              <th>{{ column }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for key, value in rows.items %}
              <tr>
                  {% for item in value %}
                  <td class="data-text">{{ item }}</td>
                  {% endfor %}
                  <td>
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">                
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu">                    
                      <a href="{# {% url 'pr_tracking' %}?department_id={{key}} #}" class="dropdown-item btn-sm">
                        <i class="fas fa-eye"></i>
                        &nbsp;
                        View More
                      </a>
                    </div>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
{% block customjs %}
	{% include "reports/lists/_budget_graph.html" %}
	<script>
		{% if type == 'uptake' %}
			$('#budget-link,#budget-uptake-link').addClass('active');
			{% elif type == 'spend' %}
			$('#budget-link,#budget-spend-link').addClass('active');
		{% endif %}
		$('.table').DataTable();
	</script>
{% endblock customjs %}