{% extends "layout/pdf_layout.html" %}
{% load static %}
{% block content %}
	<div class="section-body">
    <!-- Top Section Cards-->
		<div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-icon btn-primary mr-3">                
              <i class="fas fa-list"></i> 
            </button>
            <h4>Order Summary</h4>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              {% for key, value in order_summaries.items %}
                {% if key == 'Total Orders' %}
                  <p class="text-dark font-weight-bold">{{key}}: {{value}}</p>
                  {% else %}
                  <p>{{key}}: {{value}}</p>                
                {% endif %}                
              {% endfor %}
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-icon btn-danger mr-3">                
              <i class="fas fa-chart-area"></i> 
            </button>
            <h4>Performance Summary</h4>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              {% for key, value in performance_summaries.items %}
                {% if key == 'Overall Performance' %}
                  <p class="text-dark font-weight-bold">{{key}}: {{value}}</p>
                  {% else %}
                  <p>{{key}}: {{value}}</p>                
                {% endif %}                
              {% endfor %}
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-icon btn-success mr-3">                
              <i class="fas fa-dollar-sign"></i> 
            </button>
            <h4>Financial Summary</h4>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              {% for key, value in finance_summaries.items %}
                {% if key == 'Total Order Value' %}
                  <p class="text-dark font-weight-bold">{{key}}: {{value|title}}</p>
                  {% else %}
                  <p>{{key}}: {{value|title}}</p>                
                {% endif %}                
              {% endfor %}
            </div>
          </div>
          
        </div>
      </div>      
    </div>

    <!-- Graph Section-->
    <div class="card">
      <div class="card-body">
        <h5>Delivery Overview</h5>
        <div class="row">
          <div class="col-md-6">
            <div><strong>Uptake Rate vs PO Conversion rate {{financial_year}}</strong></div>
            <div class="chart-block">
              <div class="html-embed w-embed w-script">
                  <canvas class="chart-canvas" id="spend-rate-chart" width="currentWidth"
                          height="currentHeight"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div><strong>Spend Distribution by Supplier Category</strong></div>
            <div class="chart-block">
              <div class="html-embed w-embed w-script">
                  <canvas class="chart-canvas" id="supplier-distribution-chart" width="currentWidth"
                          height="currentHeight"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
{% endblock content %}
{% block customjs %}
  <script>
    $('#dashboard-link').addClass('active');
  </script>  
  <script>
    let uptakeConversionData = {{ uptake_conversion_data|safe }};
    let months = uptakeConversionData && uptakeConversionData['months'] ?
        uptakeConversionData['months'] : [];
    let uptakeRates = uptakeConversionData && uptakeConversionData['uptake_rates'] ?
        uptakeConversionData['uptake_rates'] : [];
    let conversionRates = uptakeConversionData && uptakeConversionData['conversion_rates'] ?
        uptakeConversionData['conversion_rates'] : [];


    //spend rate
    var uptake_rate = document.getElementById('spend-rate-chart').getContext('2d');
    var lineChart = new Chart(uptake_rate, {
        type: 'line',
        data: {
            labels: months,
            datasets: [{
                data: uptakeRates,
                borderColor: "#00BCD4",
                label: "Uptake Rate",
                fill: false
            }, {
                data: conversionRates,
                borderColor: "#FF5722",
                label: "Conversion Rate",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: false,
                text: ''
            },
            legend: {
                display: true,
                position: 'bottom',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        callback: function(value) {
                            return value + "%"
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Percentage"
                    }
                }]
            }
        }
    });

    // Supplier Data 
    let supplierData = {{ supplier_data|safe }};

    //pie chart
    var pieChart = document.getElementById('supplier-distribution-chart').getContext('2d');
    var myPie = new Chart(pieChart, {
        type: 'pie',
        data: {
            labels: Object.keys(supplierData),
            datasets: [{
                data: Object.values(supplierData),
                label: "Supplier Categories",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: false,
                text: 'Spend Distribution by Supplier Category\n'
            },
            legend: {
                display: true,
                position: 'right',
            },
            plugins: {
                colorschemes: {
                    scheme: 'tableau.Classic10'
                }
            },
            tooltips: {
                callbacks: {
                    // this callback is used to create the tooltip label
                    label: function(tooltipItem, data) {
                        // get the data label and data value to display
                        // convert the data value to local string so it uses a comma seperated number
                        var dataLabel = data.labels[tooltipItem.index];
                        var value = ': ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString();

                        // make this isn't a multi-line label (e.g. [["label 1 - line 1, "line 2, ], [etc...]])
                        if (Chart.helpers.isArray(dataLabel)) {
                            // show value on first line of multiline label
                            // need to clone because we are changing the value
                            dataLabel = dataLabel.slice();
                            dataLabel[0] += value;
                        } else {
                            dataLabel += value;
                        }

                        // return the text to display on the tooltip
                        return dataLabel;
                    }
                }
            }
        }
    });
  </script>
{% endblock customjs %}