{% load crispy_forms_tags %}
<div>
    <div class="card shadow">
        <div class="card-body">
            <h5>Filter Section</h5>            
            <form id="filter-form" name="filter-form" class="filter-form" method="GET">
                {% csrf_token %}
                {# {% crispy filter_form %} #}
                <div class="filter-form-footer">
                    <div class="float-left">                        
                        <div>
                            <button type="submit" class="btn btn-danger m-2"><i class="fas fa-sign-out-alt"></i> Apply Filter</button>

                            <a href="{% url 'clear_filters' %}" class="btn btn-dark m-2"><i class="fas fa-times-circle"></i> Clear Filters</a>
                        </div>
                    </div>
                    <div class="float-right">
                        <a href="{% url pdf_url %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-outline-danger m-2"><i class="fas fa-file-export"></i> Export to PDF</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
