{% extends "users/forms/wizards/wizard_layout.html" %}

{% load crispy_forms_tags %}
{% block wizard_content %}
<form method="POST">
    {% csrf_token %}            
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {% crispy form %}
      {% endfor %}
    {% else %}              
      {% crispy wizard.form %}
    {% endif %}
</form>
	
{% endblock wizard_content %}
{% block customjs %}
  <script>
    $('#general-info-header').addClass('active'); 
  </script>
{% endblock customjs %}