{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
	<div>
		<h4>Set Up Your Workspace</h4>
		<hr>
		<p class="lead">Welcome {{user.first_name}},</p>
		<p>To set up your dashboard, we need you to provide some details about your organization for a better experience.</p>
		<div class="list-inline mb-3">				
			<li id="general-info-header" class="list-inline-item">General Information</li>
			<li id="team-header" class="list-inline-item">Add Team</li>
			<!--<li id="uploads-header" class="list-inline-item">Upload Files</li>-->				
		</div>

		{% block wizard_content %}{% endblock wizard_content %}
	</div>
</div>
	
{% endblock content %}
{% block customjs %}
{% block extrascripts %}{% endblock extrascripts %}
	
{% endblock customjs %}