<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>XBI &rsaquo;{% block page_title %} AUTH MANAGEMENT | {% block head_title %}{% endblock %}{% endblock %}</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.13.0/sweetalert2.min.css"/>

    <!-- Plugins -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
        
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div id="app">
      <section class="section">        
        <div class="image-base-layout">
          <div class="bg-image d-none d-lg-block"></div>
          <div class="content">              
            <div class="my-4">
              <div class="container">                
                {% block content %}{% endblock content %}
                <div class="main-footer">
                  <div class="footer-left">
                    Copyright &copy; 2021 <div class="bullet"></div> <a href="https://www.xetova.com">Xetova</a>
                  </div>
                  <div class="footer-right text-left">
                    <a href="https://www.linkedin.com/company/xetova">
                      <i class="fab fa-2x fa-linkedin"></i>
                    </a>      
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>        
      </section>
    </div>
    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/stisla.js' %}"></script>
    <!-- Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <!-- Template JS File -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'js/custom.js' %}"></script> 
    <script>
      {% if messages %}
        {% for message in messages %}
          var swal_func = function() {
            Swal.fire({
                  icon: "{{message.tags}}",
                  title: "{{message|safe}}",
                  position: 'top',
                  toast: true,
                  confirmButtonText: "&times;",
                });
          }
          document.write(swal_func())
        {% endfor %}
        
      {% endif %}
    </script>
    {% block customjs %}      
    {% endblock customjs %}

    {% load sweetify %}
    {% sweetify %}
  </body>
</html>
