<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>XBI {% if title %}&rsaquo; {{title}}{% endif %}</title>

<!-- General CSS Files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.13.0/sweetalert2.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-side-modals.css' %}">
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/components.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<link rel="icon" href="{% static 'images/favicon.png' %}">
</head>

<body>
	<div id="app">
		<div class="main-wrapper main-wrapper-1">
			<!-- navbar background color -->
		  	<div class="navbar-bg bg-dark"></div>
		  	<!-- navbar -->
		  	<nav class="navbar navbar-expand-lg main-navbar">
			    <!-- navbar nav left -->
			    <form class="form-inline mr-auto">
			      <!-- navbar toggler -->
			      <ul class="navbar-nav mr-3">
			        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
			        
			      </ul>
			    </form>
			    <!-- navbar right -->
			    <ul class="navbar-nav navbar-right">
			      <!-- navbar notification toggle -->
			      <!-- navbar right item -->
			    {% if user.is_authenticated %}
				    <li class="dropdown" id="profile-link">
				      	<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
				      		{{user.first_name}} @ {{user.company}}
				      		&nbsp; 
				      		<img src="{% static 'images/user-image_1user-image.png' %}" alt="" width="30" class="rounded-circle mr-1">
				        	<div class="d-sm-none d-lg-inline-block"></div>
				        </a>
				        <div class="dropdown-menu dropdown-menu-right">
					          	<div class="dropdown-title">Logged in {{user.last_login|naturaltime}}</div>
					          	<a href="{% url 'profile' %}" class="dropdown-item has-icon">
						            <i class="fas fa-user-circle"></i> Profile
					          	</a>
					          	<a href="{% url 'account_email' %}" class="dropdown-item has-icon">
						            <i class="fas fa-cog"></i> Email Settings
					          	</a>
					          	<a href="{% url 'account_change_password' %}" class="dropdown-item has-icon">
						            <i class="fas fa-lock"></i> Change Password
					          	</a>
					          	<div class="dropdown-divider"></div>
					          	<a href="{% url 'account_logout' %}" class="dropdown-item has-icon text-danger">
						            <i class="fas fa-sign-out-alt"></i> Logout
					          	</a>
				        		{% else %}
				        		<li class="nav-item active">
			                <a href="{% url 'account_login' %}" class="btn btn-dark text-white"><i class="fas fa-sign-in-alt"> </i> Login</a>
			              </li>
				        </div>
				    </li>
			    {% endif %}
			    </ul>
		  	</nav>
			<!-- Sidebar outter -->
		  	<div class="main-sidebar sidebar-style-2"> 
		    	<!-- sidebar wrapper -->
			    <aside id="sidebar-wrapper">
			      <!-- sidebar brand -->
			      <div class="sidebar-brand mb-3">
			        <a href="{% url 'home' %}">
		              <img src="{% static 'images/logo-color.png' %}" alt="CPSB Logo" width="150" class="img-fluid">
		            </a>
			      </div>
			      <div class="sidebar-brand sidebar-brand-sm">
		            <a href="{% url 'home' %}">
		              <img src="{% static 'images/logo-color.png' %}" alt="CPSB Logo" width="50" class="img-fluid">
		            </a>
		          </div>
			      <!-- sidebar menu -->
			      <ul class="sidebar-menu">
			        <li class="menu-header">Dashboard</li>

			        <!-- menu item -->
			        <li id="dashboard-link">
			          <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-fire"></i><span>Home</span></a>
			        </li>

			        <!-- menu item -->
			        <li id="budget-link">
			          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-calculator"></i><span>Budget</span></a>
			          <ul class="dropdown-menu">
			          	<li id="budget-uptake-link"><a class="nav-link" href="{% url 'budget-uptake' %}">Uptake</a></li>
			          	<li id="budget-spend-link"><a class="nav-link" href="{% url 'budget-spend' %}">Spend</a></li>
			          </ul>
			        </li>

			        <li class="menu-header">Uploads</li>

			        <!-- menu item -->
			        <li class="dropdown" id="upload-link">
			          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-cloud-upload-alt"></i><span>Upload</span></a>
			          <ul class="dropdown-menu">
					    <li id="upload-progress-link"><a class="nav-link" href="{% url 'upload-progress' %}">Upload Purchase Data</a></li>
					    <li id="upload-budget-link"><a class="nav-link" href="{% url 'upload-budget' %}">Upload Budget</a></li>
					  </ul>
			        </li>	

			        <li class="menu-header" id="tracking-link">Tracking</li>
			        <!-- menu item -->
			        <li id="pr-link">
			          <a href="{% url 'pr-tracking' %}" class="nav-link"><i class="fas fa-clone"></i><span>Requisition Tracking</span></a>
			        </li>

			        <!-- menu item -->
			        <li id="po-link">
			          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="far fa-clone"></i><span>Order Tracking</span></a>
			          <ul class="dropdown-menu">
			          	<li id="po-tracking-link"><a href="{% url 'po-tracking' %}" class="navlink">Orders Processing</a></li>
			          	<li id="po-issued-link"><a href="{% url 'po-issued' %}" class="navlink">Orders Issued</a></li>
			          </ul>
			        </li>

			        <li class="menu-header" id="analysis-link">Analysis</li>

			        <!-- menu item -->
			        <li id="performance-link">
			          <a href="#" class="nav-link has-dropdown" data-toggle='dropdown'><i class="fas fa-rocket"></i><span>Performance</span></a>
			          <ul class="dropdown-menu">
			          	<li id="pr-performance"><a href="{% url 'performance-pr' %}" class="nav-link">Requisition Performance</a></li>
			          	<li id="po-performance"><a href="{% url 'performance-po' %}" class="nav-link">Order Performance</a></li>
			          </ul>
			        </li>

			        <!-- menu item -->
			        <li id="payments-link">
			          <a href="{% url 'payments' %}" class="nav-link"><i class="fas fa-coins"></i><span>Payments</span></a>
			        </li>		        
			      </ul>
			      {% if user.is_company_admin %}
			      	
			      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
		            <a href="{% url 'team-management' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
		              <i class="fas fa-users"></i> Manage Team Mates
		            </a>
		          </div>
			      {% endif %}
			    </aside>
		  	</div>
		  	
	      	{% include "layout/_modal.html" %}
		  	<!-- Main Content -->
		    <div class="main-content">
		      <section class="section">
		        {% block header %}{% endblock header %}
		        {% block content %}{% endblock content %}
		      </section>
		    </div>
		</div>		
	</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'js/stisla.js' %}"></script>

<!-- Plugins -->

<!-- Template JS File -->
<script src="{% static 'js/scripts.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'js/custom.js' %}"></script>
<script>
	{% if messages %}
		{% for message in messages %}
			var swal_func = function() {
				Swal.fire({
		          icon: "{{message.tags}}",
		          title: "{{message|safe}}",
		          position: 'top',
		          toast: true,
		          confirmButtonText: "&times;",
		        });
			}
			document.write(swal_func())
		{% endfor %}
		
	{% endif %}
</script>
<script>
	var intro = introJs();
	
	// and check for it when deciding whether to start. 
	window.addEventListener('load', function() {

		var doneTour = localStorage.getItem('doneTour') === 'true';
		if (doneTour) {return;}
		else{

			{% if needs_intro == 'all' %}
				intro.setOptions({
				    steps: [
				        {
				          title: '<span class="text-center">Hello there {{user.first_name|title}} 👋</span>',
				          intro: 'Thanks for choosing XBI.<br/> We thought you\'d be interested in a little tour to guide you through the software. Let\'s start, Shall we?'
				        },        
				        {
				          element: document.querySelector('#upload-link'),
				          intro: 'To get the most out of this tool, Please upload your budget and other data using this link. <a href="{% url "upload-budget" %}" target="_blank">Upload Budget Now</a>',
				          position: 'right'
				        },
				        {
				          element: document.querySelector('#budget-link'),
				          intro: 'This is where you\'ll see your budget analysis. Including the Spend and Uptake Analysis.',
				          position: 'right'
				        },
				        {
				          element: document.querySelector('#tracking-link'),
				          intro: 'Track the status of your requisitions and orders in this section',
				          position: 'right'
				        },
				        {
				          element: document.querySelector('#analysis-link'),
				          intro: 'See the performance analysis for your requisitions and orders as well as your payments',
				          position: 'right'
				        },
				        {
				          element: document.querySelector('#profile-link'),
				          intro: 'Change your details anytime by clicking on this link',
				          position: 'bottom'
				        },
				        {
				          title: 'End of tour',
				          intro: 'Incase you have any concerns, feel free to <a href="#">reach out</a>.'
				        }
				    ]
			    }).start();
		    {% elif needs_intro == 'budget_only' %}
		    	$('#upload-link,#upload-budget-link').addClass('active');
		    	intro.setOptions({
			    	steps : [
			    		{
				          element: document.querySelector('#upload-budget-link'),
				          intro: 'We have noticed you haven\'t uploaded any budget to your workspace. Please do so by clicking on this link',
				          position: 'right'
				        },
				    ]
		    	}).start();
		    {% elif needs_intro == 'progress_only' %}
		    	$('#upload-link,#upload-progress-link').addClass('active');
		    	intro.setOptions({
			    	steps : [
			    		{
				          element: document.querySelector('#upload-progress-link'),
				          intro: 'We have noticed you don\'t have any requisitions or orders in your work space. Need to do some upload? Please do so by clicking on this link.',
				          position: 'right'
				        },
				    ]
		    	}).start();
			{% endif %}

			// add a flag when we're done
			intro.oncomplete(function() {
			  localStorage.setItem('doneTour', 'true');
			})

			// add a flag when we exit
			intro.onexit(function() {
			   localStorage.setItem('doneTour', 'true');
			});
		}
	  


	});
</script>
{% block customjs %}	
{% endblock customjs %}

{% load sweetify %}
{% sweetify %}
</body>
</html>