<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>Xetova &rsaquo; {% if title %}{{title}}{% endif %}</title>

<!-- General CSS Files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.13.0/sweetalert2.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<!-- Template CSS -->
<link rel="stylesheet" href="{{static_url}}/css/style.min.css">
<link rel="stylesheet" href="{{static_url}}/css/components.min.css">
<link rel="stylesheet" href="{{static_url}}/css/custom.css">

</head>

<body>  	
  	<!-- Main Content -->
    <div class="main-content">
      <section class="section">
        {% block header %}{% endblock header %}     	
        {% block content %}{% endblock content %}
      </section>
    </div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="{{static_url}}/js/stisla.js"></script>

<!-- Plugins -->

<!-- Page Specific JS File -->
<script src="{{static_url}}/js/custom.js"></script>

<!-- Template JS File -->
<script src="{{static_url}}/js/scripts.js"></script>
{% block customjs %}	
{% endblock customjs %}

</body>
</html>