{% extends "layout/layout.html" %}
{% load humanize %}

{% block header %}
<div class="section-header">
	<h5 class="text-title">Order Details</h5>
	<div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item"><a href="{% url 'po-tracking' %}">Orders Tracking</a></div>
      <div class="breadcrumb-item">{{po.order_number}}</div>
    </div>
</div>
	
{% endblock header %}

{% block content %}	
	<div class="section-body">
		<div class="card">
			<div class="card-body">				
		        <div class="float-left">                        
		            <div>
		                <h3>Order Status</h3>
		            </div>
		        </div>
		        <div class="float-right">
		            <a href="{# {% url pdf_url po.id %} #}" class="btn btn-outline-dark btn-lg">
	                    <span class="fas fa-file-export"></span> Export
	                </a>
		        </div>
			</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-8">
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="progress-bar"></div>
                    	<div>{{po.processing_days}} Processing Days</div>
                    </div>
	    		</div>
	    		{% if po.vendor_delivery_date %}
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
		                        <thead>
		                            <tr><th colspan="2">Delivery Performance</th></tr>
		                        </thead>
		                        <tbody>
		                        	<tr>
		                        		<td>Time Score</td>
		                        		<td>{{po.time_score}}</td>
		                        	</tr>
		                        	<tr>
		                        		<td>Quantity Score</td>
		                        		<td>{{po.quantity_score}}</td>
		                        	</tr>
		                        </tbody>
	                    	</table>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
		                        <thead>
		                            <tr><th colspan="2">Payment Details</th></tr>
		                        </thead>
		                        <tbody>
		                        	<tr>
		                        		<td>Payment Status</td>
		                        		<td>{{po.payment_time_status}}</td>
		                        	</tr>
		                        	{% if po.payment_date %}
		                        	<tr>
		                        		<td>Payment Date</td>
		                        		<td>{{po.payment_date}}</td>
		                        	</tr>                  		
		                        	{% endif %}
		                        	<tr>
		                        		<td>Invoiced Amount</td>
		                        		<td>{{po.invoiced_amount|intcomma}}</td>
		                        	</tr>
		                        	<tr>
		                        		<td>Paid Amount</td>
		                        		<td>{{po.paid_amount|intcomma}}</td>
		                        	</tr>
		                        </tbody>
	                    	</table>
	    				</div>
	    			</div>
	    		</div>
	    		{% endif %}

	    		{% if po.release_date %}
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
		    					<thead>Delivery Details</thead>
		    					<tbody>
		    						<tr>
		    							<td>Delivery Status</td>
		    							<td>{{po.delivery_time_status}}</td>
		    						</tr>
		    						<tr>
		    							<td>Delivery Date</td>
		    							<td>{{po.vendor_delivery_date}}</td>
		    						</tr>
		    						<tr>
		    							<td>Expected Delivery Date</td>
		    							<td>{{expected_delivery_date}}</td>
		    						</tr>
		    					</tbody>
		    				</table>
	    				</div>
	    			</div>
	    		</div>
	    		{% endif %}
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
		    					<thead>Processing Details</thead>
		    					<tbody>
		    						<tr>
		    							<td>Processing Status</td>
		    							<td>{{po.processing_time_status}}</td>
		    						</tr>
		    						<tr>
		    							<td>Current Stage</td>
		    							<td>{{po.processing_level}}</td>
		    						</tr>
		    					</tbody>
		    				</table>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
		    					<thead>Order Details</thead>
		    					<tbody>
		    						<tr>
		    							<td>Order Number</td>
		    							<td>{{po.order_number}}</td>
		    						</tr>
		    						<tr>
		    							<td>Order Date</td>
		    							<td>{{po.order_date}}</td>
		    						</tr>
		    						<tr>
		    							<td>Final Order Release Date</td>
		    							<td>{{po.release_date}}</td>
		    						</tr>
		    						<tr>
		    							<td>Vendor</td>
		    							<td>{{po.supplier.name|title|default:"No supplier"}}</td>
		    						</tr>
		    						<tr>
		    							<td>Supplier Group</td>
		    							<td>{{po.supplier.get_category_display}}</td>
		    						</tr>
		    						<tr>
		    							<td>Procurement Method</td>
		    							<td>
		    								{{po.procurement_method}}
		    							</td>
		    						</tr>
		    						<tr>
		    							<td>Requisition Number</td>
		    							<td>{{po.requisition.requisition_number}}</td>
		    						</tr>
		    					</tbody>
		    				</table>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
	                        	<!-- Table Header  -->
		                        <thead>
			                        <tr>
			                            <th>Item</th>
			                            <th>Quantity</th>
			                            <th>Order Unit</th>
			                            <th>Amount (KES)</th>
			                        </tr>
		                        </thead>

	                        	<!-- Table Body  -->
		                        <tbody>
			                        <tr>
			                            <td>{{po.requisition.item_description|title}}</td>
			                            <td>{{po.requisition.item_quantity}}</td>
			                            <td>{{po.requisition.item_unit}}</td>
			                            <td>{{po.gross_order_value|intcomma}}</td>
			                        </tr>
		                        </tbody>
	                    	</table>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
	                   		<!-- Table Header  -->
			                    <thead>
				                    <tr>
				                        <th>Stage</th>
				                        <th>Release Date</th>
				                        <th>Days</th>
				                        <th>Manager</th>
				                    </tr>
			                    </thead>
	                    		<!-- Table Body  -->
			                    <tbody>
			                    	{% for milestone in po.milestones.all %}			                    		
					                    <tr>
					                        <td>{{milestone.name}}</td>
					                        <td>{{milestone.release_date}}</td>
					                        <td>{{milestone.processing_days}}</td>
					                        <td>{{milestone.description}}</td>
					                    </tr>
			                    	{% endfor %}				              
			                    </tbody>
	                		</table>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="card">
	    			<div class="card-header">
	    				<h6>Milestone Stages</h6>
	    			</div>
	    		</div>
	    		<div class="activities">
	    			<div class="activity">
	    				{% for milestone in po.milestones.all %}
		    				<div class="activity-icon bg-success text-white shadow-success">
	                      		<i class="fas fa-arrow-down"></i>
	                    	</div>
	                    	<div class="activity-detail">
	                      		<div class="mb-2">
			                        <span class="text-job">{{milestone.name}}</span>                  
	                    		</div>
	                		</div>	    					
	    				{% endfor %}
	    			</div>
	    		</div>
	    	</div>
	    </div>
    </div>
{% endblock content %}
{% block customjs %}
<script>
	$('#po-link,#po-tracking-link').addClass('active');
</script>
	
{% endblock customjs %}