{% extends "layout/layout.html" %}
{% load humanize %}

{% block header %}
<div class="section-header">
	<h5 class="text-title">Requisition Details</h5>
	<div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></div>
      <div class="breadcrumb-item"><a href="{% url 'po-tracking' %}">Requisition Tracking</a></div>
      <div class="breadcrumb-item">{{pr.requisition_number}}</div>
    </div>
</div>
	
{% endblock header %}

{% block content %}	
	<div class="section-body">
		<div class="card">
			<div class="card-body">				
		        <div class="float-left">                        
		            <div>
		                <h3 class="">Request Status</h3>
		            </div>
		        </div>
		        <div class="float-right">
		            <a href="{# {% url pdf_url pr.id %} #}" class="btn btn-outline-dark btn-lg">
	                    <span class="fas fa-file-export"></span> Export
	                </a>
		        </div>
			</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-8">
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="progress-bar"></div>
                    	<div>{{pr.processing_days}} Processing Days</div>
                    </div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
		                        <thead class="data-text">
		                            <tr><th colspan="2">Requisition Details</th></tr>
		                        </thead>
		                        <tbody>	                        	
			                        <tr>
			                            <td>Requisition Number:</td>
			                            <td>{{pr.requisition_number}}</td>
			                        </tr>
			                        <tr>
			                            <td>Status:</td>
			                            <td>{{pr.processing_time_status}}</td>
			                        </tr>
			                        <tr>
			                            <td>Current Stage:</td>
			                            <td>{{pr.current_stage}}<br></td>
			                        </tr>
			                        <tr>
			                            <td>Requisition Date:<br></td>
			                            <td>{{pr.requisition_date}}<br></td>
			                        </tr>
			                        <tr>
			                            <td>Department:</td>
			                            <td>{{pr.department.name}}<br></td>
			                        </tr>
			                        <tr>
			                            <td>Request Created By:<br></td>
			                            <td>{{pr.created_by}}<br></td>
			                        </tr>
			                        <tr>
			                            <td>Final PR Release Date:<br></td>
			                            <td>{{pr.release_date|default:"None"}}<br></td>
			                        </tr>
		                        </tbody>
	                    	</table>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">
	                        	<!-- Table Header  -->
		                        <thead>
			                        <tr>
			                            <th>Item</th>
			                            <th>Quantity</th>
			                            <th>Amount (KES)</th>
			                        </tr>
		                        </thead>

	                        	<!-- Table Body  -->
		                        <tbody>
			                        <tr>
			                            <td>{{pr.item_description|lower|capfirst}}</td>
			                            <td>{{pr.item_quantity}}</td>
			                            <td>{{pr.value|intcomma}}</td>
			                        </tr>
		                        </tbody>
	                    	</table>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="card">
	    			<div class="card-body">
	    				<div class="table-responsive">	    					
		    				<table class="table">

	                        	<!-- Table Header  -->
		                        <thead>
			                        <tr class="">
			                            <th>Stage</th>
			                            <th>Release Date</th>
			                            <th>Days</th>
			                            <th>Description</th>
			                        </tr>
		                        </thead>

		                        <!-- Table Body  -->
		                        <tbody>
		                        	{% for milestone in pr.milestones.all %}			                    		
					                    <tr>
					                        <td>{{milestone.name}}</td>
					                        <td>{{milestone.release_date}}</td>
					                        <td>{{milestone.processing_days}}</td>
					                        <td>{{milestone.description}}</td>
					                    </tr>
			                    	{% endfor %}
		                        </tbody>
	                    	</table>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="card">
	    			<div class="card-header">
	    				<h6>Milestone Stages</h6>
	    			</div>
	    		</div>
	    		<div class="activities">
	    			{% for milestone in po.milestones.all %}
	    				<div class="activity-icon bg-success text-white shadow-success">
                      		<i class="fas fa-arrow-down"></i>
                    	</div>
                    	<div class="activity-detail">
                      		<div class="mb-2">
		                        <span class="text-job">{{milestone.name}}</span>                  
                    		</div>
                		</div>	    					
    				{% endfor %}
	    		</div>
	    	</div>
	    </div>
    </div>
{% endblock content %}
{% block customjs %}
<script>
	$('#pr-link').addClass('active');
	$('.table').DataTable();
</script>
	
{% endblock customjs %}